* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1920px;
  min-height: calc(100vh - 5px);
  margin: 0 auto;
}

.container__content {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.header__navigate {
  position: absolute;
  float: right;
  top: 50px;
  right: 50px;
  display: flex;
  height: 40px;
}

.header__navigate:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 500ms;
}

.header__burgermenu {
  display: block;
  width: 50px;
  height: 3px;
  background-color: #000;
  transition: all 500ms;
}

.header__burgermenu.activate {
  display: block;
  width: 60px;
  height: 3px;
  background-color: #000;
  transition: all 500ms;
}

.header__burgermenu.activate:before {
  display: block;
  width: 60px;
  height: 3px;
  background-color: #000;
  transition: all 500ms;
}

.header__burgermenu.activate:after {
  display: block;
  width: 50px;
  height: 3px;
  background-color: #000;
  transition: all 500ms;
}

.header__burgermenu:before {
  content: '';
  position: absolute;
  top: 20px;
  right: 0;
  display: block;
  width: 50px;
  height: 3px;
  background-color: #000;
  transition: all 500ms;
}

.header__burgermenu:after {
  content: '';
  position: absolute;
  top: 10px;
  right: 0;
  display: block;
  width: 60px;
  height: 3px;
  background-color: #000;
  transition: all 500ms;
}

.first-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 27% 33% 33%;
  width: 100%;
  max-width: 1920px;
  height: 800px;
  background-image: url('./img/backgroundfirst.jpg');
  background-position: center;
  background-size: cover;
}

.first-block.bluring {
  filter: blur(10px);
  transition: all 500ms;
}

.first-block__aside {
  position: absolute;
  z-index: 1000;
  width: 100%;
  max-width: 345px;
}

.about-yourself {
  position: relative;
  width: 100%;
  max-width: 532px;
  grid-column-start: 2;
  grid-row-start: 2;
}

.about-yourself__title {
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
  font-size: 22px;
}

.about-yourself__title:before {
  content: '';
  position: absolute;
  left: -7px;
  top: -7px;
  z-index: -1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffa501;
}

.about-yourself__subtitle {
  margin-bottom: 20px;
  font-size: 50px;
  line-height: 50px;
}

.about-yourself__button {
  width: 100%;
  max-width: 120px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.about-yourself__button:hover {
  cursor: pointer;
  background-color: #ffa501;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  transition: all 700ms;
}

.social-links {
  position: absolute;
  top: 0;
  float: left;
  display: flex;
  margin-top: 345px;
  margin-left: -90px;
  transform: rotate(270deg);
  transition: all 700ms;
}

.social-links.hidden {
  transition: all 200ms;
  opacity: 0;
}

.social-links__dash {
  position: relative;
  top: 9px;
  display: block;
  width: 50px;
  height: 2px;
  margin: 0 15px;
  background-color: #000;
}

.social-links__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-links__item {
  margin-right: 10px;
}

.social-links__item:hover {
  transform: scale(1.2);
  transition: all 500ms;
}

.aside-menu {
  position: relative;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 345px;
  height: 800px;
  background-color: #ffa501;
  transform: translateX(-400px);
  transition: all 500ms;
}

.aside-menu__navigate {
  width: 100%;
  list-style-type: none;
}

.aside-menu__link {
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-bottom: 20px;
}

.aside-menu__cicle {
  margin-right: 25px;
}

.aside-menu__socialnetworks {
  list-style-type: none;
}

.aside-menu__text {
  font-weight: 900;
  font-size: 24px;
  color: #fff;
}

.aside-menu__cicle {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 25px;
  border: 1px solid #000;
  border-radius: 50%;
}

.aside-menu__text:hover {
  cursor: pointer;
  color: #000;
  transition: all 500ms;
}

.aside-menu.activate {
  position: relative;
  visibility: visible;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 345px;
  height: 800px;
  background-color: #ffa501;
  transform: translateX(0);
  transition: all 500ms;
}

.aside-menu__cancel {
  position: absolute;
  top: 20px;
  right: 30px;
}

.aside-menu__cancel:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 500ms;
}

.aside-menu__socialnetworks {
  display: flex;
}

.aside-menu__networkicon {
  margin-right: 15px;
}

.aside-menu__networkicon:hover {
  transform: scale(1.1);
  transition: all 500ms;
}

.second-block {
  width: 100%;
  max-width: 986px;
  height: 560px;
  margin: 50px auto;
  text-align: center;
}

.description-skills__title {
  position: relative;
  z-index: 1;
  padding: 20px 0;
  font-size: 16px;
}
.description-skills__title:before {
  content: '';
  position: absolute;
  top: 15px;
  z-index: -1;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 0 0 6px;
  border-radius: 50%;
  background-color: #ffa501;
}

.description-skills__subtitle {
  font-size: 36px;
}

.description-skills__line {
  display: inline-block;
  width: 60px;
  height: 3px;
  background-color: #ffa501;
}

.usefull-skills__iconsblock {
  position: relative;
}

.usefull-skills__iconsblock:before {
  content: '';
  position: absolute;
  top: 17px;
  right: 0px;
  display: block;
  width: 60px;
  height: 2px;
  background-color: #000;
}

.usefull-skills__iconscicle {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #ffa501;
}

.usefull-skills__icon {
  position: absolute;
  top: 13px;
  left: 17px;
}

.usefull-skills {
  display: flex;
  margin-top: 55px;
}

.usefull-skills__item::not(last-child) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 50px;
}

.usefull-skills__row {
  display: flex;
  margin-bottom: 20px;
  text-align: justify;
}

.usefull-skills__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 60px;
}

.usefull-skills__university {
  font-weight: 900;
  font-size: 20px;
}

.usefull-skills__education {
  padding: 0 75px 0 60px;
  border-left: 2px solid #000;
  text-align-last: justify;
}

.usefull-skills__experience {
  padding: 0 0 0 60px;
  border-left: 2px solid #000;
  text-align-last: justify;
}

.usefull-skills__title {
  display: inline-block;
  margin-bottom: 50px;
  font-weight: 900;
  font-size: 28px;
}

.usefull-skills__titlework {
  display: inline-block;
  margin-bottom: 50px;
  font-weight: 900;
  font-size: 28px;
}

.usefull-skills__titlework:before {
  content: '';
  position: absolute;
  right: 899px;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffa501;
}

.usefull-skills__title:before {
  content: '';
  position: absolute;
  left: 445px;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffa501;
}

.third-block {
  width: 100%;
  max-width: 1055px;
  height: 640px;
  margin: 50px auto;
}

.contact-data {
  display: grid;
  grid-template-columns: 30% 60%;
  gap: 100px;
  height: 600px;
}

.contact-data__photopreview {
  background-image: url('./img/Photo.png');
  background-position: center;
  background-size: cover;
}

.contact-data__title {
  z-index: 1;
  margin-top: 5px;
  font-size: 18px;
}

.contact-data__title:before {
  content: '';
  display: block;
  position: relative;
  top: 25px;
  right: 10px;
  z-index: -1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffa501;
}

.contact-data__subtitle {
  margin-top: 10px;
  font-weight: 900;
  font-size: 34px;
}

.contact-data__underline {
  display: inline-block;
  width: 60px;
  height: 3px;
  background-color: #ffa501;
}

.contact-data__text {
  display: inline-block;
  margin: 15px 0;
}

.contact-data__socialnetworks {
  display: flex;
  padding: 0;
  list-style-type: none;
}

.contact-data__link {
  margin-right: 20px;
}

.contact-data__link:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 250ms;
}
.contact-data__inputgroup {
  position: relative;
  display: flex;
  margin-bottom: 10px;
}

.contact-data__inbox:not(:first-child) {
  margin-left: 40px;
}

.contact-data__input {
  width: 100%;
  max-width: 253px;
  height: 45px;
  margin-right: 25px;
  padding-left: 10px;
  font-size: 20px;
  outline: none;
}

.contact-data__textarea {
  width: 100%;
  max-width: 580px;
  height: 190px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20px;
  outline: none;
}

.contact-data__sendform {
  width: 100%;
  max-width: 219px;
  height: 45px;
  margin-top: 20px;
  border: none;
  border: 1px solid #ffa501;
  background-color: #fff;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(60deg, #ffa501 50%, transparent 60%);
  background-position: 100%;
  background-size: 400%;
}

.contact-data__sendform:hover {
  cursor: pointer;
  background-position: 10%;
  transition: all 800ms;
}

#form {
  position: relative;
}

label#contact-data__name {
  position: absolute;
  top: -9px;
  left: 15px;
  padding: 0 8px;
  background-color: #fff;
}

label#contact-data__mail {
  position: absolute;
  top: -9px;
  right: 200px;
  padding: 0 8px;
  background-color: #fff;
}

label#contact-data__message {
  position: relative;
  top: 8px;
  right: -15px;
  padding: 0 8px;
  background-color: #fff;
}

.error {
  width: 100%;
  max-width: 272px;
  height: 47px;
  outline: 4px solid red;
  outline-offset: -4px;
  overflow: hidden;
}

.error-label {
  position: absolute;
  top: 47px;
  display: block;
  margin-bottom: 20px;
  color: red;
}

#contact-data__errormessage {
  position: absolute;
  top: 280px;
  display: none;
  color: red;
}

@media (max-width: 1750px) {
  .first-block {
    grid-template-columns: 20% 60% 20%;
  }
  .about-yourself__subtitle {
    font-size: 44px;
  }
}

@media (max-width: 992px) {
  .aboutpreview-mobile{
    width: 385px;
    height: 480px;
    margin: 50px auto;
    background-image:url('./img/Photo.png');
    background-position: center;
    background-position: center;
    background-size: cover;
  }

  .contact-data__photopreview {
    display: none;
  }

  .about-yourself__subtitle {
    font-size: 44px;
  }

  .usefull-skills {
    flex-direction: column;
    gap: 80px;
  }

  .usefull-skills__education {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }

  .usefull-skills__experience {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 75px 0 60px;
  }

  .contact-data__messagefield {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }

  .usefull-skills__title {
    font-size: 20px;
  }

  .usefull-skills__titlework {
    font-size: 20px;
  }

  .third-block {
    margin: 400px auto;
  }

  .contact-data {
    display: block;
  }
}

@media (max-width: 768px) {
  .usefull-skills__education {
    max-width: 400px;
  }

  .usefull-skills__experience {
    max-width: 400px;
  }

  .contact-data__messagefield {
    max-width: 500px;
  }
}

@media (max-width: 576px) {
  .social-links {
    display: none;
  }

  .first-block__aside{
    max-width:200px;
  }

  .aboutpreview-mobile{
    width: 280px;
    height: 356px;
}

  .about-yourself{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

  .about-yourself__title {
    font-size: 14px;
  }

  .about-yourself__button:not(:first-child){
    margin-left:30px;
  }

  .about-yourself__title:before {
    left: -15px;
    top: -12px;
  }

  .about-yourself__subtitle {
    font-size: 21px;
    line-height: 23px;
  }

  .about-yourself__buttongroup{
    display:flex;
    margin-right: 20px;
  }

  .aside-menu__text{
    font-size:15px;
}

  .aside-menu__link{
    margin-left:30px;
}

  .usefull-skills__education {
    max-width: 250px;
    margin: 0 20px;
    padding: 2px 75px 0 30px
  }

  .usefull-skills__experience {
    max-width: 250px;
    margin: 0 20px;
    padding: 2px 75px 0 30px
  }

  .third-block {
    margin: 625px auto;
  }

  .contact-data__messagefield {
    max-width: 300px;
  }

  .usefull-skills__learningtime {
    font-size: 11px;
  }

  .usefull-skills__iconsblock:before{
    width:30px;
  }

  label#contact-data__mail {
    top: 70px;
    right: 188px;
  }

  .contact-data__inputgroup {
    flex-direction: column;
    align-items: center;
  }

  input#first-name {
    margin-bottom: 30px;
  }

  .contact-data__inbox.email {
    margin: 0;
  }

  .contact-data__textarea {
    max-width: 268px;
    padding: 0;
    margin-left: 7px;
  }

  .contact-data__sendform {
    margin-left: 28px;
  }

  .contact-data__inbox.error{
    margin-bottom: 20px;
  }

  label#contact-data__errormessage{
    top: 357px;
    left: 6px;
}
  }
}
