* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  min-height: calc(100vh - 5px);
}

.container__content {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.header {
}

.header__navigate {
  position: absolute;
  top: 50px;
  right: 50px;
  display: flex;
  float: right;
  height: 40px;
}

.header__navigate:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 500ms;
}

.header__burgermenu {
  display: block;
  height: 3px;
  width: 50px;
  background-color: #000;
  transition: all 500ms;
}

.header__burgermenu.activate {
  display: block;
  height: 3px;
  width: 60px;
  background-color: #000;
  transition: all 500ms;
}

.header__burgermenu.activate:before {
  display: block;
  height: 3px;
  width: 60px;
  background-color: #000;
  transition: all 500ms;
}

.header__burgermenu.activate:after {
  display: block;
  height: 3px;
  width: 50px;
  background-color: #000;
  transition: all 500ms;
}

.header__burgermenu:before {
  content: '';
  position: absolute;
  top: 20px;
  right: 0;
  display: block;
  width: 50px;
  height: 3px;
  background-color: #000;
  transition: all 500ms;
}

.header__burgermenu:after {
  content: '';
  position: absolute;
  top: 10px;
  right: 0;
  display: block;
  width: 60px;
  height: 3px;
  background-color: #000;
  transition: all 500ms;
}

.first-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 27% 33% 33%;
  width: 100%;
  max-width: 1920px;
  height: 800px;
  background-image: url('./img/backgroundfirst.jpg');
}

.first-block.bluring {
  filter: blur(10px);
  transition: all 500ms;
}

.first-block__aside {
  position: absolute;
  z-index: 1000;
  max-width: 345px;
  width: 100%;
}

.about-yourself {
  position: relative;
  width: 100%;
  max-width: 532px;
  grid-column-start: 2;
  grid-row-start: 2;
}

.about-yourself__title {
  position: relative;
  font-size: 22px;
  margin-bottom: 20px;
  z-index: 1;
}

.about-yourself__title:before {
  content: '';
  z-index: -1;
  position: absolute;
  left: -7px;
  top: -7px;
  width: 40px;
  height: 40px;
  background-color: #ffa501;
  border-radius: 50%;
}

.about-yourself__subtitle {
  font-size: 50px;
  margin-bottom: 20px;
  line-height: 50px;
}

.about-yourself__button {
  width: 100%;
  max-width: 120px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.about-yourself__button:hover {
  background-color: #ffa501;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 700ms;
}

.social-links {
  position: absolute;
  top: 0;
  display: flex;
  transform: rotate(270deg);
  margin-top: 345px;
  float: left;
  margin-left: -90px;
  transition: all 700ms;
}

.social-links.hidden {
  opacity: 0;
  transition: all 200ms;
}

.social-links__dash {
  position: relative;
  top: 9px;
  display: block;
  width: 50px;
  height: 2px;
  margin: 0 15px;
  background-color: #000;
}

.social-links__list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-links__item {
  margin-right: 10px;
}

.social-links__item:hover {
  transform: scale(1.2);
  transition: all 500ms;
}

.aside-menu {
  transform: translateX(-400px);
  visibility: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 345px;
  height: 800px;
  background-color: #ffa501;
  transition: all 500ms;
}

.aside-menu__navigate {
  list-style-type: none;
  width: 100%;
}

.aside-menu__link {
  margin-bottom: 20px;
  margin-left: 50px;
  display: flex;
  align-items: center;
}

.aside-menu__cicle {
  margin-right: 25px;
}

.aside-menu__socialnetworks {
  list-style-type: none;
}

.aside-menu__text {
  color: #fff;
  font-weight: 900;
  font-size: 24px;
}

.aside-menu__cicle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  margin-right: 25px;
}

.aside-menu__text:hover {
  cursor: pointer;
  color: #000;
  transition: all 500ms;
}

.aside-menu.activate {
  transform: translateX(0);
  visibility: visible;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 345px;
  height: 800px;
  background-color: #ffa501;
  transition: all 500ms;
}

.aside-menu__cancel {
  position: absolute;
  right: 30px;
  top: 20px;
}

.aside-menu__cancel:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: all 500ms;
}

.aside-menu__socialnetworks {
  display: flex;
}

.aside-menu__networkicon {
  margin-right: 15px;
}

.aside-menu__networkicon:hover {
  transform: scale(1.1);
  transition: all 500ms;
}

.second-block {
  height: 560px;
  max-width: 986px;
  width: 100%;
  margin: 50px auto;
  text-align: center;
}

.description-skills__title {
  font-size: 16px;
  position: relative;
  z-index: 1;
  padding: 20px 0;
}
.description-skills__title:before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffa501;
  z-index: -1;
  right: ;
  margin: 0 0 0 6px;
  top: 15px;
}

.description-skills__subtitle {
  font-size: 36px;
}

.description-skills__line {
  display: inline-block;
  height: 3px;
  width: 60px;
  background-color: #ffa501;
}

.usefull-skills__iconsblock {
  position: relative;
}
.usefull-skills__iconsblock:before {
  content: '';
  height: 2px;
  width: 60px;
  display: block;
  background-color: #000;
  top: 17px;
  position: absolute;
  right: 0px;
}

.usefull-skills__iconscicle {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  background-color: #ffa501;
  border-radius: 50%;
}

.usefull-skills__icon {
  top: 13px;
  left: 17px;
  position: absolute;
}
.usefull-skills {
  display: flex;
  margin-top: 55px;
}

.usefull-skills__item::not(last-child) {
  margin-bottom: 50px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.usefull-skills__row {
  display: flex;
  margin-bottom: 20px;
  text-align: justify;
}

.usefull-skills__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 60px;
}

.usefull-skills__university {
  font-weight: 900;
  font-size: 20px;
}

.usefull-skills__education {
  border-left: 2px solid #000;
  padding: 0 75px 0 60px;
  text-align-last: justify;
}
.usefull-skills__experience {
  border-left: 2px solid #000;
  padding: 0 0 0 60px;
  text-align-last: justify;
}

.usefull-skills__title {
  display: inline-block;
  margin-bottom: 50px;
  font-weight: 900;
  font-size: 28px;
}

.usefull-skills__titlework {
  display: inline-block;
  margin-bottom: 50px;
  font-weight: 900;
  font-size: 28px;
}

.usefull-skills__titlework:before {
  content: '';
  width: 30px;
  height: 30px;
  background-color: grey;
  display: block;
  position: absolute;
  right: 899px;
  border-radius: 50%;
  background-color: #ffa501;
}

.usefull-skills__title:before {
  content: '';
  width: 30px;
  height: 30px;
  background-color: grey;
  display: block;
  position: absolute;
  left: 445px;
  border-radius: 50%;
  background-color: #ffa501;
}
.third-block {
  margin-top: 50px;
  height: 640px;
  width: 100%;
  max-width: 1055px;
  border: 1px solid #cdcdcd;
  margin: 0 auto;
}

.contact-data {
  display: grid;
  grid-template-columns: 30% 60%;
  height: 600px;
  gap: 100px;
}

.contact-data__photopreview {
  background-image: url('./img/Photo.png');
}

.contact-data__title {
  font-size: 18px;
}
.contact-data__subtitle {
  margin-top: 10px;
  font-size: 34px;
  font-weight: 900;
}

.contact-data__underline {
  display: inline-block;
  height: 3px;
  width: 60px;
  background-color: #ffa501;
}

.contact-data__text {
  display: inline-block;
  margin: 15px 0;
}

.contact-data__socialnetworks {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  display: flex;
}

.contact-data__link {
  margin-right: 20px;
}

.contact-data__link:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 250ms;
}
.contact-data__inputgroup {
  display: flex;
  margin-bottom: 50px;
}

.contact-data__input {
  width: 100%;
  max-width: 280px;
  height: 45px;
  margin-right: 25px;
  outline: none;
  font-size: 20px;
}

.contact-data__textarea {
  width: 100%;
  max-width: 585px;
  height: 190px;
  outline: none;
  font-size: 20px;
}

.contact-data__sendform {
  width: 100%;
  max-width: 219px;
  height: 45px;
  border: none;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  border: 1px solid #ffa501;
  background-color: #fff;
  background-image: linear-gradient(60deg, #ffa501 50%, transparent 60%);
  background-position: 100%;
  background-size: 400%;
}

.contact-data__sendform:hover {
  background-position: 10%;
  transition: all 700ms;
  cursor: pointer;
}
